@font-face {
    font-family: "Spinnaker-Regular";
    src: url("./Spinnaker-Regular.eot");
    src: local("☺"), url("./Spinnaker-Regular.woff") format("woff"),
        url("./Spinnaker-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
